{
  "presets": ["flow"],
  "env": {
    "development": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "node": "current"
            },
            "useBuiltIns": "usage"
          }
        ]
      ]
    },
    "test": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "node": "7.4.0"
            },
            "useBuiltIns": "usage"
          }
        ]
      ]
    }
  },
  "plugins": ["transform-object-rest-spread", "transform-runtime"]
}
